<div class="note-input-container">
  <div class="note-buttons-grid" [class.single-note-button-grid]="noteButtons().length === 1" role="group">

    <!-- <p class="input-instructions sr-only">Select a button or use keyboard shortcuts (1-7)</p> -->

    @for (button of noteButtons(); track button.note) {
      <button
        #noteButtonElement
        type="button"
        class="note-button natural"
        [attr.aria-label]="'Select ' + button.note"
        (click)="onNoteClick(button.note)">
        <span class="note-label">{{ button.label }}</span>
        @if (getKeyboardShortcut(button.note); as shortcut) {
        <span class="keyboard-shortcut">{{ shortcut }}</span>
        }
      </button>
    }
  </div>
</div>
